In [1]:
import pylab
import calendar
import numpy as np
import pandas as pd
import tensorflow as tf
from datetime import datetime
from sklearn.preprocessing  import StandardScaler, OneHotEncoder
from tensorflow.keras.callbacks import EarlyStopping, ModelCheckpoint

In [2]:
raw_data = pd.read_csv("input/train.csv")
test_data = pd.read_csv("input/test.csv")

check data

In [3]:
raw_data

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0000,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0000,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0000,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0000,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0000,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
10881,2012-12-19 19:00:00,4,0,1,1,15.58,19.695,50,26.0027,7,329,336
10882,2012-12-19 20:00:00,4,0,1,1,14.76,17.425,57,15.0013,10,231,241
10883,2012-12-19 21:00:00,4,0,1,1,13.94,15.910,61,15.0013,4,164,168
10884,2012-12-19 22:00:00,4,0,1,1,13.94,17.425,61,6.0032,12,117,129
10885,2012-12-19 23:00:00,4,0,1,1,13.12,16.665,66,8.9981,4,84,88

break datetime to date, hour, weekday, month

In [4]:
def break_datetime(data):
    data['date'] = data.datetime.apply(lambda x: x.split()[0])
    data['hour'] = data.datetime.apply(lambda x: x.split()[1].split(':')[0]).astype('int')
    data['weekday'] = data.date.apply(lambda dateString: datetime.strptime(dateString, '%Y-%m-%d').weekday())
    data['month'] = data.date.apply(lambda dateString: datetime.strptime(dateString, '%Y-%m-%d').month)
    data = data.drop(['datetime', 'date'], axis=1)
    return data

In [5]:
data_no_datetime = break_datetime(raw_data)

In [6]:
data_no_datetime

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,hour,weekday,month
0,1,0,0,1,9.84,14.395,81,0.0000,3,13,16,0,5,1
1,1,0,0,1,9.02,13.635,80,0.0000,8,32,40,1,5,1
2,1,0,0,1,9.02,13.635,80,0.0000,5,27,32,2,5,1
3,1,0,0,1,9.84,14.395,75,0.0000,3,10,13,3,5,1
4,1,0,0,1,9.84,14.395,75,0.0000,0,1,1,4,5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10881,4,0,1,1,15.58,19.695,50,26.0027,7,329,336,19,2,12
10882,4,0,1,1,14.76,17.425,57,15.0013,10,231,241,20,2,12
10883,4,0,1,1,13.94,15.910,61,15.0013,4,164,168,21,2,12
10884,4,0,1,1,13.94,17.425,61,6.0032,12,117,129,22,2,12
10885,4,0,1,1,13.12,16.665,66,8.9981,4,84,88,23,2,12

change weather and season to one-hot columns

In [7]:
def one_hot_transform(data):
    season_one_hot = OneHotEncoder()
    scol = season_one_hot.fit_transform(data['season'].values.reshape(-1, 1)).toarray()
    scol = pd.DataFrame(scol)
    data = pd.concat([data, scol], axis=1)
    data.drop(['season'], axis=1)

    weather_one_hot = OneHotEncoder()
    wcol = weather_one_hot.fit_transform(data['weather'].values.reshape(-1, 1)).toarray()
    wcol = pd.DataFrame(wcol)
    data = pd.concat([data, wcol], axis=1)
    data.drop(['weather'], axis=1)
    
    return data

In [8]:
data_one_hot = one_hot_transform(data_no_datetime)

In [9]:
data_one_hot

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,...,weekday,month,0,1,2,3,0,1,2,3
0,1,0,0,1,9.84,14.395,81,0.0000,3,13,...,5,1,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,1,0,0,1,9.02,13.635,80,0.0000,8,32,...,5,1,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,1,0,0,1,9.02,13.635,80,0.0000,5,27,...,5,1,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,1,0,0,1,9.84,14.395,75,0.0000,3,10,...,5,1,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,1,0,0,1,9.84,14.395,75,0.0000,0,1,...,5,1,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10881,4,0,1,1,15.58,19.695,50,26.0027,7,329,...,2,12,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
10882,4,0,1,1,14.76,17.425,57,15.0013,10,231,...,2,12,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
10883,4,0,1,1,13.94,15.910,61,15.0013,4,164,...,2,12,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
10884,4,0,1,1,13.94,17.425,61,6.0032,12,117,...,2,12,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
10885,4,0,1,1,13.12,16.665,66,8.9981,4,84,...,2,12,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0

shuffle and split

In [10]:
def split_data(data):
    data = data.sample(frac=1) #shuffle
    test_index = int(data.shape[0] * 0.8)
    y_training = data['count'][:test_index]
    y_validation = data['count'][test_index:]
    data = data.drop(['casual', 'registered', 'count', 'atemp', 'season'], axis=1)
    return data[:test_index], y_training, data[test_index:], y_validation

In [11]:
x_training, y_training, x_validation, y_validation = split_data(data_one_hot)

In [27]:
x_training

,holiday,workingday,weather,temp,humidity,windspeed,hour,weekday,month,0,1,2,3,0,1,2,3
8793,0,1,2,31.98,55,11.0014,18,2,8,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
5101,0,1,3,20.50,100,12.9980,15,1,12,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
1161,0,0,1,14.76,66,8.9981,1,6,3,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
6141,0,0,2,4.10,46,46.0022,3,6,2,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1639,0,1,1,13.94,76,6.0032,5,3,4,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6542,0,1,1,15.58,32,23.9994,20,4,3,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2625,0,1,1,24.60,83,0.0000,7,4,6,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
6408,0,0,2,12.30,52,19.9995,6,6,3,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2174,0,1,3,22.96,83,27.9993,12,1,5,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
989,0,0,2,19.68,59,19.9995,16,5,3,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [28]:
y_training

8793    862
5101     45
1161     33
6141     14
1639     14
       ...
6542    159
2625    250
6408      5
2174    153
989     204
Name: count, Length: 8708, dtype: int64

In [14]:
def build_mode(layer_units, input_size):
    layers = []
    layers.append(tf.keras.layers.Dense(units=layer_units[0], activation='relu', input_shape=(input_size,)))
    for i in range(1,len(layer_units)):
        layers.append(tf.keras.layers.Dense(units=layer_units[i], activation='relu'))
    layers.append(tf.keras.layers.Dense(units=1, activation='linear'))
    return tf.keras.models.Sequential(layers=layers)

In [15]:
model = build_mode([17], 17)

model.compile(optimizer=tf.keras.optimizers.Adam(lr=0.001), loss='mse')
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 17)                306
_________________________________________________________________
dense_1 (Dense)              (None, 1)                 18
=================================================================
Total params: 324
Trainable params: 324
Non-trainable params: 0
_________________________________________________________________

In [16]:
history = model.fit(x_training, y_training, epochs=100, batch_size=128, validation_data=(x_validation, y_validation))

Train on 8708 samples, validate on 2178 samples
Epoch 1/100
8708/8708 [==============================] - 0s 32us/sample - loss: 68441.4909 - val_loss: 65509.3667
Epoch 2/100
8708/8708 [==============================] - 0s 10us/sample - loss: 60929.0580 - val_loss: 58563.1868
Epoch 3/100
8708/8708 [==============================] - 0s 10us/sample - loss: 53585.0946 - val_loss: 50528.8667
Epoch 4/100
8708/8708 [==============================] - 0s 9us/sample - loss: 44053.2044 - val_loss: 39381.7172
Epoch 5/100
8708/8708 [==============================] - 0s 11us/sample - loss: 35434.1513 - val_loss: 33832.8758
Epoch 6/100
8708/8708 [==============================] - 0s 10us/sample - loss: 32050.3809 - val_loss: 31783.8660
Epoch 7/100
8708/8708 [==============================] - 0s 11us/sample - loss: 30511.0018 - val_loss: 30373.2029
Epoch 8/100
8708/8708 [==============================] - 0s 11us/sample - loss: 29117.4544 - val_loss: 29067.3888
Epoch 9/100
8708/8708 [==============================] - 0s 11us/sample - loss: 27868.7337 - val_loss: 27880.3388
Epoch 10/100
8708/8708 [==============================] - 0s 14us/sample - loss: 26716.4234 - val_loss: 26777.0618
Epoch 11/100
8708/8708 [==============================] - 0s 10us/sample - loss: 25632.7229 - val_loss: 25793.7888
Epoch 12/100
8708/8708 [==============================] - 0s 9us/sample - loss: 24712.7924 - val_loss: 24979.6873
Epoch 13/100
8708/8708 [==============================] - 0s 10us/sample - loss: 23930.0775 - val_loss: 24292.1942
Epoch 14/100
8708/8708 [==============================] - 0s 11us/sample - loss: 23331.9452 - val_loss: 23769.7414
Epoch 15/100
8708/8708 [==============================] - 0s 10us/sample - loss: 22859.6328 - val_loss: 23406.3722
Epoch 16/100
8708/8708 [==============================] - 0s 9us/sample - loss: 22524.9726 - val_loss: 23093.3042
Epoch 17/100
8708/8708 [==============================] - 0s 9us/sample - loss: 22281.1081 - val_loss: 22896.4524
Epoch 18/100
8708/8708 [==============================] - 0s 9us/sample - loss: 22118.9483 - val_loss: 22745.7550
Epoch 19/100
8708/8708 [==============================] - 0s 10us/sample - loss: 21983.2745 - val_loss: 22646.8849
Epoch 20/100
8708/8708 [==============================] - 0s 9us/sample - loss: 21876.8659 - val_loss: 22540.6948
Epoch 21/100
8708/8708 [==============================] - 0s 10us/sample - loss: 21811.7261 - val_loss: 22466.2128
Epoch 22/100
8708/8708 [==============================] - 0s 10us/sample - loss: 21734.9537 - val_loss: 22421.0305
Epoch 23/100
8708/8708 [==============================] - 0s 10us/sample - loss: 21685.1308 - val_loss: 22369.4522
Epoch 24/100
8708/8708 [==============================] - 0s 11us/sample - loss: 21673.8279 - val_loss: 22358.4558
Epoch 25/100
8708/8708 [==============================] - 0s 11us/sample - loss: 21621.2010 - val_loss: 22307.1627
Epoch 26/100
8708/8708 [==============================] - 0s 11us/sample - loss: 21582.8398 - val_loss: 22289.6405
Epoch 27/100
8708/8708 [==============================] - 0s 10us/sample - loss: 21554.2183 - val_loss: 22257.2194
Epoch 28/100
8708/8708 [==============================] - 0s 10us/sample - loss: 21542.2447 - val_loss: 22219.9063
Epoch 29/100
8708/8708 [==============================] - 0s 10us/sample - loss: 21493.6577 - val_loss: 22193.7049
Epoch 30/100
8708/8708 [==============================] - 0s 11us/sample - loss: 21458.9520 - val_loss: 22169.7425
Epoch 31/100
8708/8708 [==============================] - 0s 10us/sample - loss: 21422.0176 - val_loss: 22127.3363
Epoch 32/100
8708/8708 [==============================] - 0s 11us/sample - loss: 21389.8923 - val_loss: 22107.7263
Epoch 33/100
8708/8708 [==============================] - 0s 11us/sample - loss: 21350.7341 - val_loss: 22088.7006
Epoch 34/100
8708/8708 [==============================] - 0s 10us/sample - loss: 21330.7255 - val_loss: 22024.5033
Epoch 35/100
8708/8708 [==============================] - 0s 10us/sample - loss: 21281.2094 - val_loss: 21984.8812
Epoch 36/100
8708/8708 [==============================] - 0s 10us/sample - loss: 21239.4263 - val_loss: 21944.5972
Epoch 37/100
8708/8708 [==============================] - 0s 10us/sample - loss: 21188.3553 - val_loss: 21908.6827
Epoch 38/100
8708/8708 [==============================] - 0s 10us/sample - loss: 21150.1453 - val_loss: 21865.1342
Epoch 39/100
8708/8708 [==============================] - 0s 11us/sample - loss: 21106.3692 - val_loss: 21825.2716
Epoch 40/100
8708/8708 [==============================] - 0s 10us/sample - loss: 21063.7396 - val_loss: 21800.7535
Epoch 41/100
8708/8708 [==============================] - 0s 9us/sample - loss: 21026.4063 - val_loss: 21729.7391
Epoch 42/100
8708/8708 [==============================] - 0s 9us/sample - loss: 20968.9250 - val_loss: 21683.7018
Epoch 43/100
8708/8708 [==============================] - 0s 10us/sample - loss: 20929.3369 - val_loss: 21645.7747
Epoch 44/100
8708/8708 [==============================] - 0s 10us/sample - loss: 20872.9381 - val_loss: 21600.3444
Epoch 45/100
8708/8708 [==============================] - 0s 9us/sample - loss: 20819.4019 - val_loss: 21531.1285
Epoch 46/100
8708/8708 [==============================] - 0s 10us/sample - loss: 20774.6590 - val_loss: 21485.4106
Epoch 47/100
8708/8708 [==============================] - 0s 11us/sample - loss: 20706.7897 - val_loss: 21433.9776
Epoch 48/100
8708/8708 [==============================] - 0s 11us/sample - loss: 20656.9724 - val_loss: 21372.6219
Epoch 49/100
8708/8708 [==============================] - 0s 10us/sample - loss: 20596.0816 - val_loss: 21315.9667
Epoch 50/100
8708/8708 [==============================] - 0s 9us/sample - loss: 20540.8385 - val_loss: 21249.7813
Epoch 51/100
8708/8708 [==============================] - 0s 9us/sample - loss: 20470.6063 - val_loss: 21191.0034
Epoch 52/100
8708/8708 [==============================] - 0s 10us/sample - loss: 20420.5622 - val_loss: 21128.3365
Epoch 53/100
8708/8708 [==============================] - 0s 10us/sample - loss: 20349.8178 - val_loss: 21066.2961
Epoch 54/100
8708/8708 [==============================] - 0s 10us/sample - loss: 20286.5882 - val_loss: 21009.0568
Epoch 55/100
8708/8708 [==============================] - 0s 10us/sample - loss: 20211.9849 - val_loss: 21008.6211
Epoch 56/100
8708/8708 [==============================] - 0s 10us/sample - loss: 20165.7118 - val_loss: 20895.5614
Epoch 57/100
8708/8708 [==============================] - 0s 11us/sample - loss: 20143.4657 - val_loss: 20819.8415
Epoch 58/100
8708/8708 [==============================] - 0s 10us/sample - loss: 20049.2690 - val_loss: 20775.8979
Epoch 59/100
8708/8708 [==============================] - 0s 8us/sample - loss: 20003.3231 - val_loss: 20701.7900
Epoch 60/100
8708/8708 [==============================] - 0s 8us/sample - loss: 19921.2881 - val_loss: 20633.7573
Epoch 61/100
8708/8708 [==============================] - 0s 8us/sample - loss: 19867.7048 - val_loss: 20563.2733
Epoch 62/100
8708/8708 [==============================] - 0s 8us/sample - loss: 19794.0245 - val_loss: 20500.3113
Epoch 63/100
8708/8708 [==============================] - 0s 8us/sample - loss: 19725.1186 - val_loss: 20437.7041
Epoch 64/100
8708/8708 [==============================] - 0s 9us/sample - loss: 19670.1253 - val_loss: 20373.6994
Epoch 65/100
8708/8708 [==============================] - 0s 9us/sample - loss: 19604.1318 - val_loss: 20308.1794
Epoch 66/100
8708/8708 [==============================] - 0s 10us/sample - loss: 19541.7140 - val_loss: 20251.1249
Epoch 67/100
8708/8708 [==============================] - 0s 11us/sample - loss: 19473.5476 - val_loss: 20181.5850
Epoch 68/100
8708/8708 [==============================] - 0s 11us/sample - loss: 19419.1307 - val_loss: 20136.4037
Epoch 69/100
8708/8708 [==============================] - 0s 10us/sample - loss: 19348.7508 - val_loss: 20046.6016
Epoch 70/100
8708/8708 [==============================] - 0s 12us/sample - loss: 19292.7692 - val_loss: 19987.2317
Epoch 71/100
8708/8708 [==============================] - 0s 11us/sample - loss: 19216.3307 - val_loss: 19961.9382
Epoch 72/100

8708/8708 [==============================] - 0s 11us/sample - loss: 19163.1264 - val_loss: 19850.7286
Epoch 73/100
8708/8708 [==============================] - 0s 11us/sample - loss: 19087.2988 - val_loss: 19777.5284
Epoch 74/100
8708/8708 [==============================] - 0s 10us/sample - loss: 19019.1237 - val_loss: 19733.6079
Epoch 75/100
8708/8708 [==============================] - 0s 11us/sample - loss: 18946.6480 - val_loss: 19632.6844
Epoch 76/100
8708/8708 [==============================] - 0s 10us/sample - loss: 18891.1842 - val_loss: 19546.6592
Epoch 77/100
8708/8708 [==============================] - 0s 11us/sample - loss: 18825.7528 - val_loss: 19476.2799
Epoch 78/100
8708/8708 [==============================] - 0s 11us/sample - loss: 18754.7319 - val_loss: 19431.5420
Epoch 79/100
8708/8708 [==============================] - 0s 9us/sample - loss: 18683.2699 - val_loss: 19320.8506
Epoch 80/100
8708/8708 [==============================] - 0s 8us/sample - loss: 18619.7415 - val_loss: 19247.9365
Epoch 81/100
8708/8708 [==============================] - 0s 9us/sample - loss: 18536.0189 - val_loss: 19200.3140
Epoch 82/100
8708/8708 [==============================] - 0s 9us/sample - loss: 18469.2379 - val_loss: 19111.8594
Epoch 83/100
8708/8708 [==============================] - 0s 10us/sample - loss: 18405.0496 - val_loss: 19050.4504
Epoch 84/100
8708/8708 [==============================] - 0s 11us/sample - loss: 18350.3271 - val_loss: 18969.4452
Epoch 85/100
8708/8708 [==============================] - 0s 11us/sample - loss: 18295.3437 - val_loss: 18904.8760
Epoch 86/100
8708/8708 [==============================] - 0s 11us/sample - loss: 18231.6027 - val_loss: 18834.0879
Epoch 87/100
8708/8708 [==============================] - 0s 11us/sample - loss: 18175.4322 - val_loss: 18771.3769
Epoch 88/100
8708/8708 [==============================] - 0s 10us/sample - loss: 18140.4827 - val_loss: 18712.4389
Epoch 89/100
8708/8708 [==============================] - 0s 9us/sample - loss: 18077.7672 - val_loss: 18640.1379
Epoch 90/100
8708/8708 [==============================] - 0s 9us/sample - loss: 18013.6360 - val_loss: 18596.0902
Epoch 91/100
8708/8708 [==============================] - 0s 9us/sample - loss: 17975.3450 - val_loss: 18513.4935
Epoch 92/100
8708/8708 [==============================] - 0s 9us/sample - loss: 17919.8460 - val_loss: 18459.9324
Epoch 93/100
8708/8708 [==============================] - 0s 11us/sample - loss: 17857.9109 - val_loss: 18404.1451
Epoch 94/100
8708/8708 [==============================] - 0s 10us/sample - loss: 17807.4327 - val_loss: 18360.4489
Epoch 95/100
8708/8708 [==============================] - 0s 8us/sample - loss: 17768.8794 - val_loss: 18292.2912
Epoch 96/100
8708/8708 [==============================] - 0s 8us/sample - loss: 17719.6826 - val_loss: 18233.2561
Epoch 97/100
8708/8708 [==============================] - 0s 8us/sample - loss: 17669.9992 - val_loss: 18200.7726
Epoch 98/100
8708/8708 [==============================] - 0s 8us/sample - loss: 17641.7197 - val_loss: 18141.0408
Epoch 99/100
8708/8708 [==============================] - 0s 8us/sample - loss: 17604.1839 - val_loss: 18087.7534
Epoch 100/100
8708/8708 [==============================] - 0s 7us/sample - loss: 17561.9283 - val_loss: 18044.1732

loss ~ 17561

increase lr

In [17]:
model_lr = build_mode([17], 17)

model_lr.compile(optimizer=tf.keras.optimizers.Adam(lr=0.008), loss='mse')
model_lr.summary()
history = model_lr.fit(x_training, y_training, epochs=100, batch_size=128, validation_data=(x_validation, y_validation))

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_2 (Dense)              (None, 17)                306
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 18
=================================================================
Total params: 324
Trainable params: 324
Non-trainable params: 0
_________________________________________________________________
Train on 8708 samples, validate on 2178 samples
Epoch 1/100
8708/8708 [==============================] - 0s 25us/sample - loss: 39912.3266 - val_loss: 30681.6908
Epoch 2/100
8708/8708 [==============================] - 0s 9us/sample - loss: 25983.1805 - val_loss: 23434.6897
Epoch 3/100
8708/8708 [==============================] - 0s 9us/sample - loss: 21856.6594 - val_loss: 22147.0015
Epoch 4/100
8708/8708 [==============================] - 0s 9us/sample - loss: 21053.0463 - val_loss: 21576.1528
Epoch 5/100
8708/8708 [==============================] - 0s 9us/sample - loss: 20635.1897 - val_loss: 21238.7558
Epoch 6/100
8708/8708 [==============================] - 0s 9us/sample - loss: 20429.1928 - val_loss: 20796.2280
Epoch 7/100
8708/8708 [==============================] - 0s 8us/sample - loss: 19892.0374 - val_loss: 20383.7631
Epoch 8/100
8708/8708 [==============================] - 0s 9us/sample - loss: 19277.0073 - val_loss: 19607.7874
Epoch 9/100
8708/8708 [==============================] - 0s 9us/sample - loss: 18654.6339 - val_loss: 19061.6856
Epoch 10/100
8708/8708 [==============================] - 0s 10us/sample - loss: 18303.1524 - val_loss: 18841.5967
Epoch 11/100
8708/8708 [==============================] - 0s 10us/sample - loss: 17784.0852 - val_loss: 18247.6461
Epoch 12/100
8708/8708 [==============================] - 0s 9us/sample - loss: 17511.6992 - val_loss: 18116.7058
Epoch 13/100
8708/8708 [==============================] - 0s 10us/sample - loss: 17425.4587 - val_loss: 17853.9361
Epoch 14/100
8708/8708 [==============================] - 0s 9us/sample - loss: 17264.3334 - val_loss: 17844.6741
Epoch 15/100
8708/8708 [==============================] - 0s 10us/sample - loss: 17169.7689 - val_loss: 17705.6309
Epoch 16/100
8708/8708 [==============================] - 0s 9us/sample - loss: 17503.5183 - val_loss: 17541.7592
Epoch 17/100
8708/8708 [==============================] - 0s 9us/sample - loss: 17017.9557 - val_loss: 17441.1324
Epoch 18/100
8708/8708 [==============================] - 0s 9us/sample - loss: 16978.8356 - val_loss: 17368.9371
Epoch 19/100
8708/8708 [==============================] - 0s 9us/sample - loss: 16962.3888 - val_loss: 17455.6693
Epoch 20/100
8708/8708 [==============================] - 0s 9us/sample - loss: 16923.1831 - val_loss: 17505.3819
Epoch 21/100
8708/8708 [==============================] - 0s 9us/sample - loss: 16812.4593 - val_loss: 17288.0069
Epoch 22/100
8708/8708 [==============================] - 0s 10us/sample - loss: 16644.5064 - val_loss: 17154.0251
Epoch 23/100
8708/8708 [==============================] - 0s 10us/sample - loss: 16663.5509 - val_loss: 17184.0024
Epoch 24/100
8708/8708 [==============================] - 0s 9us/sample - loss: 16565.9588 - val_loss: 17092.4655
Epoch 25/100
8708/8708 [==============================] - 0s 9us/sample - loss: 16572.6344 - val_loss: 17034.4186
Epoch 26/100
8708/8708 [==============================] - 0s 9us/sample - loss: 16454.5344 - val_loss: 17039.6959
Epoch 27/100
8708/8708 [==============================] - 0s 9us/sample - loss: 16711.9182 - val_loss: 16904.8479
Epoch 28/100
8708/8708 [==============================] - 0s 10us/sample - loss: 16450.9243 - val_loss: 16983.5603
Epoch 29/100
8708/8708 [==============================] - 0s 9us/sample - loss: 16337.2864 - val_loss: 16913.2595
Epoch 30/100
8708/8708 [==============================] - 0s 10us/sample - loss: 16316.1149 - val_loss: 16875.5716
Epoch 31/100
8708/8708 [==============================] - 0s 10us/sample - loss: 16231.1798 - val_loss: 16685.3606
Epoch 32/100
8708/8708 [==============================] - 0s 8us/sample - loss: 16353.8830 - val_loss: 16819.3489
Epoch 33/100
8708/8708 [==============================] - 0s 6us/sample - loss: 16131.6748 - val_loss: 16691.2160
Epoch 34/100
8708/8708 [==============================] - 0s 7us/sample - loss: 16079.7959 - val_loss: 16661.0099
Epoch 35/100
8708/8708 [==============================] - 0s 6us/sample - loss: 16198.8970 - val_loss: 16650.7572
Epoch 36/100
8708/8708 [==============================] - 0s 9us/sample - loss: 15973.5307 - val_loss: 16547.1189
Epoch 37/100
8708/8708 [==============================] - 0s 11us/sample - loss: 15932.0487 - val_loss: 16677.8397
Epoch 38/100
8708/8708 [==============================] - 0s 9us/sample - loss: 16014.5706 - val_loss: 16622.3081
Epoch 39/100
8708/8708 [==============================] - 0s 10us/sample - loss: 15900.4737 - val_loss: 16456.7930
Epoch 40/100
8708/8708 [==============================] - 0s 10us/sample - loss: 15935.6628 - val_loss: 16496.8574
Epoch 41/100
8708/8708 [==============================] - 0s 10us/sample - loss: 15948.1709 - val_loss: 16431.9483
Epoch 42/100
8708/8708 [==============================] - 0s 10us/sample - loss: 15822.0821 - val_loss: 16475.9972
Epoch 43/100
8708/8708 [==============================] - 0s 10us/sample - loss: 15758.3849 - val_loss: 16635.1889
Epoch 44/100
8708/8708 [==============================] - 0s 9us/sample - loss: 15810.7901 - val_loss: 16618.6607
Epoch 45/100
8708/8708 [==============================] - 0s 10us/sample - loss: 15821.4692 - val_loss: 16434.4758
Epoch 46/100
8708/8708 [==============================] - 0s 10us/sample - loss: 15718.8699 - val_loss: 16411.0039
Epoch 47/100
8708/8708 [==============================] - 0s 10us/sample - loss: 15699.3151 - val_loss: 16447.7191
Epoch 48/100
8708/8708 [==============================] - 0s 11us/sample - loss: 15695.4023 - val_loss: 16362.2516
Epoch 49/100
8708/8708 [==============================] - 0s 11us/sample - loss: 15782.6979 - val_loss: 16692.8187
Epoch 50/100
8708/8708 [==============================] - 0s 11us/sample - loss: 15788.3077 - val_loss: 16281.7735
Epoch 51/100
8708/8708 [==============================] - 0s 8us/sample - loss: 15540.0846 - val_loss: 16230.5784
Epoch 52/100
8708/8708 [==============================] - 0s 9us/sample - loss: 15568.6106 - val_loss: 16179.8614
Epoch 53/100
8708/8708 [==============================] - 0s 8us/sample - loss: 15484.6307 - val_loss: 16309.2349
Epoch 54/100
8708/8708 [==============================] - 0s 8us/sample - loss: 15530.9418 - val_loss: 16187.4027
Epoch 55/100
8708/8708 [==============================] - 0s 8us/sample - loss: 15522.7748 - val_loss: 16527.1383
Epoch 56/100
8708/8708 [==============================] - 0s 8us/sample - loss: 15495.3352 - val_loss: 16252.6353
Epoch 57/100
8708/8708 [==============================] - 0s 9us/sample - loss: 15516.5079 - val_loss: 16161.2319
Epoch 58/100
8708/8708 [==============================] - 0s 9us/sample - loss: 15475.3359 - val_loss: 16756.0898
Epoch 59/100
8708/8708 [==============================] - 0s 9us/sample - loss: 15470.6693 - val_loss: 16141.8417
Epoch 60/100
8708/8708 [==============================] - 0s 9us/sample - loss: 15530.6218 - val_loss: 16092.0097
Epoch 61/100
8708/8708 [==============================] - 0s 10us/sample - loss: 15381.4626 - val_loss: 16130.0666
Epoch 62/100
8708/8708 [==============================] - 0s 9us/sample - loss: 15391.7912 - val_loss: 16150.8679
Epoch 63/100
8708/8708 [==============================] - 0s 10us/sample - loss: 15395.2311 - val_loss: 16050.0447
Epoch 64/100
8708/8708 [==============================] - 0s 9us/sample - loss: 15395.6367 - val_loss: 16387.7376
Epoch 65/100
8708/8708 [==============================] - 0s 9us/sample - loss: 15478.1406 - val_loss: 16408.8519
Epoch 66/100
8708/8708 [==============================] - 0s 9us/sample - loss: 15492.3767 - val_loss: 16121.1035

Epoch 67/100
8708/8708 [==============================] - 0s 8us/sample - loss: 15288.3410 - val_loss: 16083.5060
Epoch 68/100
8708/8708 [==============================] - 0s 8us/sample - loss: 15316.0116 - val_loss: 16031.2425
Epoch 69/100
8708/8708 [==============================] - 0s 8us/sample - loss: 15269.6458 - val_loss: 15986.8060
Epoch 70/100
8708/8708 [==============================] - 0s 7us/sample - loss: 15312.5386 - val_loss: 16041.2965
Epoch 71/100
8708/8708 [==============================] - 0s 8us/sample - loss: 15265.5598 - val_loss: 16127.2409
Epoch 72/100
8708/8708 [==============================] - 0s 9us/sample - loss: 15270.7281 - val_loss: 16298.2265
Epoch 73/100
8708/8708 [==============================] - 0s 9us/sample - loss: 15324.0117 - val_loss: 16198.0933
Epoch 74/100
8708/8708 [==============================] - 0s 10us/sample - loss: 15328.1433 - val_loss: 16019.6370
Epoch 75/100
8708/8708 [==============================] - 0s 8us/sample - loss: 15293.6392 - val_loss: 16115.6354
Epoch 76/100
8708/8708 [==============================] - 0s 8us/sample - loss: 15232.9230 - val_loss: 15927.1891
Epoch 77/100
8708/8708 [==============================] - 0s 7us/sample - loss: 15318.9269 - val_loss: 16301.8018
Epoch 78/100
8708/8708 [==============================] - 0s 8us/sample - loss: 15246.0873 - val_loss: 15944.2575
Epoch 79/100
8708/8708 [==============================] - 0s 9us/sample - loss: 15235.4898 - val_loss: 15916.6032
Epoch 80/100
8708/8708 [==============================] - 0s 10us/sample - loss: 15143.3827 - val_loss: 15982.3345
Epoch 81/100
8708/8708 [==============================] - 0s 9us/sample - loss: 15252.0835 - val_loss: 16017.8988
Epoch 82/100
8708/8708 [==============================] - 0s 9us/sample - loss: 15219.7150 - val_loss: 15893.6853
Epoch 83/100
8708/8708 [==============================] - 0s 10us/sample - loss: 15136.3091 - val_loss: 15890.1922
Epoch 84/100
8708/8708 [==============================] - 0s 11us/sample - loss: 15047.8011 - val_loss: 15881.9105
Epoch 85/100
8708/8708 [==============================] - 0s 10us/sample - loss: 15115.9709 - val_loss: 15927.1021
Epoch 86/100
8708/8708 [==============================] - 0s 10us/sample - loss: 15153.5140 - val_loss: 17061.7407
Epoch 87/100
8708/8708 [==============================] - 0s 9us/sample - loss: 15704.3777 - val_loss: 15974.9368
Epoch 88/100
8708/8708 [==============================] - 0s 9us/sample - loss: 15067.1107 - val_loss: 15870.6114
Epoch 89/100
8708/8708 [==============================] - 0s 8us/sample - loss: 15140.0790 - val_loss: 15813.5308
Epoch 90/100
8708/8708 [==============================] - 0s 9us/sample - loss: 15111.8713 - val_loss: 15819.5979
Epoch 91/100
8708/8708 [==============================] - 0s 8us/sample - loss: 15030.7895 - val_loss: 15778.4458
Epoch 92/100
8708/8708 [==============================] - 0s 9us/sample - loss: 15100.0215 - val_loss: 15772.9687
Epoch 93/100
8708/8708 [==============================] - 0s 8us/sample - loss: 15007.0232 - val_loss: 15735.7560
Epoch 94/100
8708/8708 [==============================] - 0s 8us/sample - loss: 15154.5674 - val_loss: 15946.0688
Epoch 95/100
8708/8708 [==============================] - 0s 8us/sample - loss: 15013.4004 - val_loss: 15704.6837
Epoch 96/100
8708/8708 [==============================] - 0s 10us/sample - loss: 15001.5199 - val_loss: 15710.3745
Epoch 97/100
8708/8708 [==============================] - 0s 10us/sample - loss: 14993.9630 - val_loss: 15714.3993
Epoch 98/100
8708/8708 [==============================] - 0s 8us/sample - loss: 14988.1526 - val_loss: 15729.9759
Epoch 99/100
8708/8708 [==============================] - 0s 9us/sample - loss: 14952.2316 - val_loss: 15671.0460
Epoch 100/100
8708/8708 [==============================] - 0s 9us/sample - loss: 14970.5717 - val_loss: 15880.2927

loss ~ 15161

try scale data

In [18]:
def scale_data(data, validation, column):
    ss = StandardScaler()
    d = data[column].values.reshape(-1, 1)
    scaler = ss.fit(d)
    scaled = ss.transform(d)
    scaled_data = data.copy()
    scaled_data[column] = scaled
    
    val_scale = scaler.transform(validation[column].values.reshape(-1,1))
    scaled_val = validation.copy()
    scaled_val[column] = val_scale
    
    return scaled_data, scaled_val, scaler

In [19]:
data_one_hot

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,...,weekday,month,0,1,2,3,0,1,2,3
0,1,0,0,1,9.84,14.395,81,0.0000,3,13,...,5,1,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,1,0,0,1,9.02,13.635,80,0.0000,8,32,...,5,1,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,1,0,0,1,9.02,13.635,80,0.0000,5,27,...,5,1,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,1,0,0,1,9.84,14.395,75,0.0000,3,10,...,5,1,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,1,0,0,1,9.84,14.395,75,0.0000,0,1,...,5,1,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10881,4,0,1,1,15.58,19.695,50,26.0027,7,329,...,2,12,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
10882,4,0,1,1,14.76,17.425,57,15.0013,10,231,...,2,12,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
10883,4,0,1,1,13.94,15.910,61,15.0013,4,164,...,2,12,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
10884,4,0,1,1,13.94,17.425,61,6.0032,12,117,...,2,12,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
10885,4,0,1,1,13.12,16.665,66,8.9981,4,84,...,2,12,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0

In [21]:
scaled_temp, x_val_temp, temp_scaler = scale_data(x_training, x_validation, 'temp')

scaled_temp

,holiday,workingday,weather,temp,humidity,windspeed,hour,weekday,month,0,1,2,3,0,1,2,3
8793,0,1,2,1.503418,55,11.0014,18,2,8,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
5101,0,1,3,0.034438,100,12.9980,15,1,12,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
1161,0,0,1,-0.700053,66,8.9981,1,6,3,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
6141,0,0,2,-2.064106,46,46.0022,3,6,2,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1639,0,1,1,-0.804980,76,6.0032,5,3,4,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6542,0,1,1,-0.595126,32,23.9994,20,4,3,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2625,0,1,1,0.559073,83,0.0000,7,4,6,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
6408,0,0,2,-1.014834,52,19.9995,6,6,3,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2174,0,1,3,0.349219,83,27.9993,12,1,5,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
989,0,0,2,-0.070490,59,19.9995,16,5,3,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [22]:
scaled_temp_hum, x_val_temp_hum, humidity_scaler = scale_data(scaled_temp, x_val_temp, 'humidity')

scaled_temp_hum

,holiday,workingday,weather,temp,humidity,windspeed,hour,weekday,month,0,1,2,3,0,1,2,3
8793,0,1,2,1.503418,-0.361294,11.0014,18,2,8,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
5101,0,1,3,0.034438,1.974375,12.9980,15,1,12,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
1161,0,0,1,-0.700053,0.209648,8.9981,1,6,3,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
6141,0,0,2,-2.064106,-0.828428,46.0022,3,6,2,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1639,0,1,1,-0.804980,0.728685,6.0032,5,3,4,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6542,0,1,1,-0.595126,-1.555080,23.9994,20,4,3,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2625,0,1,1,0.559073,1.092012,0.0000,7,4,6,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
6408,0,0,2,-1.014834,-0.517005,19.9995,6,6,3,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2174,0,1,3,0.349219,1.092012,27.9993,12,1,5,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
989,0,0,2,-0.070490,-0.153679,19.9995,16,5,3,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [23]:
scaled_temp_hum_wind, x_val_temp_hum_wind, wind_scaler = scale_data(scaled_temp_hum, x_val_temp_hum, 'windspeed')

scaled_temp_hum_wind

,holiday,workingday,weather,temp,humidity,windspeed,hour,weekday,month,0,1,2,3,0,1,2,3
8793,0,1,2,1.503418,-0.361294,-0.219506,18,2,8,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
5101,0,1,3,0.034438,1.974375,0.024304,15,1,12,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
1161,0,0,1,-0.700053,0.209648,-0.464135,1,6,3,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
6141,0,0,2,-2.064106,-0.828428,4.054545,3,6,2,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1639,0,1,1,-0.804980,0.728685,-0.829851,5,3,4,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6542,0,1,1,-0.595126,-1.555080,1.367718,20,4,3,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2625,0,1,1,0.559073,1.092012,-1.562920,7,4,6,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
6408,0,0,2,-1.014834,-0.517005,0.879278,6,6,3,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2174,0,1,3,0.349219,1.092012,1.856158,12,1,5,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
989,0,0,2,-0.070490,-0.153679,0.879278,16,5,3,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [26]:
x_val_temp_hum_wind

,holiday,workingday,weather,temp,humidity,windspeed,hour,weekday,month,0,1,2,3,0,1,2,3
3228,0,1,1,1.188636,0.469166,0.879278,10,3,8,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
9483,0,1,3,0.978782,1.092012,2.100786,12,1,9,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
7578,0,1,3,0.454146,1.092012,-0.464135,3,1,5,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
5827,0,1,2,-0.175417,0.780589,1.123907,0,2,1,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3388,0,1,1,0.873855,-0.413198,-0.464135,2,3,8,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1971,0,1,1,-0.280344,1.351530,-1.562920,1,0,5,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
7160,1,0,1,1.608345,-1.503177,1.612347,17,0,4,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
8027,0,1,1,0.873855,0.157744,0.512744,20,3,6,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
7674,0,0,1,0.034438,-0.724620,-0.707946,3,5,5,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
3283,0,0,3,1.293564,0.884396,-0.219506,17,5,8,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [25]:
model_lr = build_mode([17], 17)

model_lr.compile(optimizer=tf.keras.optimizers.Adam(lr=0.008), loss='mse')
model_lr.summary()
history = model_lr.fit(scaled_temp_hum_wind, y_training, epochs=100, batch_size=128, validation_data=(x_val_temp_hum_wind, y_validation))

Model: "sequential_3"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_6 (Dense)              (None, 17)                306
_________________________________________________________________
dense_7 (Dense)              (None, 1)                 18
=================================================================
Total params: 324
Trainable params: 324
Non-trainable params: 0
_________________________________________________________________
Train on 8708 samples, validate on 2178 samples
Epoch 1/100
8708/8708 [==============================] - 0s 27us/sample - loss: 49073.1386 - val_loss: 28493.8928
Epoch 2/100
8708/8708 [==============================] - 0s 10us/sample - loss: 25302.2119 - val_loss: 24753.9509
Epoch 3/100
8708/8708 [==============================] - 0s 9us/sample - loss: 23358.8703 - val_loss: 23559.6425
Epoch 4/100
8708/8708 [==============================] - 0s 9us/sample - loss: 22267.5057 - val_loss: 22533.3330
Epoch 5/100
8708/8708 [==============================] - 0s 10us/sample - loss: 21283.2871 - val_loss: 21836.8223
Epoch 6/100
8708/8708 [==============================] - 0s 10us/sample - loss: 20603.3775 - val_loss: 21178.1288
Epoch 7/100
8708/8708 [==============================] - 0s 10us/sample - loss: 20070.4709 - val_loss: 20753.7618
Epoch 8/100
8708/8708 [==============================] - 0s 10us/sample - loss: 19618.5631 - val_loss: 20265.9175
Epoch 9/100
8708/8708 [==============================] - 0s 10us/sample - loss: 19215.1004 - val_loss: 19895.0974
Epoch 10/100
8708/8708 [==============================] - 0s 9us/sample - loss: 18896.9780 - val_loss: 19594.0868
Epoch 11/100
8708/8708 [==============================] - 0s 9us/sample - loss: 18620.8517 - val_loss: 19319.5777
Epoch 12/100
8708/8708 [==============================] - 0s 9us/sample - loss: 18418.2224 - val_loss: 19144.8007
Epoch 13/100
8708/8708 [==============================] - 0s 10us/sample - loss: 18221.4012 - val_loss: 18940.7790
Epoch 14/100
8708/8708 [==============================] - ETA: 0s - loss: 18185.104 - 0s 10us/sample - loss: 18046.7949 - val_loss: 18821.5478
Epoch 15/100
8708/8708 [==============================] - 0s 11us/sample - loss: 17882.8872 - val_loss: 18532.2453
Epoch 16/100
8708/8708 [==============================] - 0s 10us/sample - loss: 17755.0077 - val_loss: 18403.2661
Epoch 17/100
8708/8708 [==============================] - 0s 11us/sample - loss: 17630.5740 - val_loss: 18348.2436
Epoch 18/100
8708/8708 [==============================] - 0s 10us/sample - loss: 17536.3815 - val_loss: 18131.0568
Epoch 19/100
8708/8708 [==============================] - 0s 12us/sample - loss: 17411.9129 - val_loss: 17972.5697
Epoch 20/100
8708/8708 [==============================] - 0s 11us/sample - loss: 17302.5805 - val_loss: 17921.9754
Epoch 21/100
8708/8708 [==============================] - 0s 10us/sample - loss: 17284.8158 - val_loss: 17842.1099
Epoch 22/100
8708/8708 [==============================] - 0s 10us/sample - loss: 17098.2333 - val_loss: 17681.9376
Epoch 23/100
8708/8708 [==============================] - 0s 9us/sample - loss: 17020.6242 - val_loss: 17591.7141
Epoch 24/100
8708/8708 [==============================] - 0s 10us/sample - loss: 16967.6062 - val_loss: 17548.6133
Epoch 25/100
8708/8708 [==============================] - 0s 11us/sample - loss: 16872.8477 - val_loss: 17455.8059
Epoch 26/100
8708/8708 [==============================] - 0s 11us/sample - loss: 16813.1098 - val_loss: 17354.4082
Epoch 27/100
8708/8708 [==============================] - 0s 12us/sample - loss: 16770.6500 - val_loss: 17294.4125
Epoch 28/100
8708/8708 [==============================] - 0s 12us/sample - loss: 16691.6074 - val_loss: 17255.0881
Epoch 29/100
8708/8708 [==============================] - 0s 11us/sample - loss: 16648.6194 - val_loss: 17179.0392
Epoch 30/100
8708/8708 [==============================] - 0s 11us/sample - loss: 16589.3360 - val_loss: 17201.5853
Epoch 31/100
8708/8708 [==============================] - 0s 11us/sample - loss: 16532.8659 - val_loss: 17097.4629
Epoch 32/100
8708/8708 [==============================] - 0s 11us/sample - loss: 16483.8541 - val_loss: 17182.0786
Epoch 33/100
8708/8708 [==============================] - 0s 9us/sample - loss: 16423.5458 - val_loss: 17031.4413
Epoch 34/100
8708/8708 [==============================] - 0s 9us/sample - loss: 16415.2859 - val_loss: 16959.5022
Epoch 35/100
8708/8708 [==============================] - 0s 9us/sample - loss: 16319.7084 - val_loss: 16983.0919
Epoch 36/100
8708/8708 [==============================] - 0s 9us/sample - loss: 16277.4341 - val_loss: 16869.1596
Epoch 37/100
8708/8708 [==============================] - 0s 10us/sample - loss: 16242.1786 - val_loss: 16836.0629
Epoch 38/100
8708/8708 [==============================] - 0s 10us/sample - loss: 16190.0786 - val_loss: 16796.4309
Epoch 39/100
8708/8708 [==============================] - 0s 11us/sample - loss: 16119.5422 - val_loss: 16859.4365
Epoch 40/100
8708/8708 [==============================] - 0s 11us/sample - loss: 16109.6997 - val_loss: 16735.0280
Epoch 41/100
8708/8708 [==============================] - 0s 11us/sample - loss: 16054.1576 - val_loss: 16642.1568
Epoch 42/100
8708/8708 [==============================] - 0s 10us/sample - loss: 15999.9377 - val_loss: 16619.4232
Epoch 43/100
8708/8708 [==============================] - 0s 11us/sample - loss: 15902.2579 - val_loss: 16570.8807
Epoch 44/100
8708/8708 [==============================] - 0s 12us/sample - loss: 15853.9294 - val_loss: 16463.8243
Epoch 45/100
8708/8708 [==============================] - 0s 11us/sample - loss: 15829.3242 - val_loss: 16461.7363
Epoch 46/100
8708/8708 [==============================] - 0s 11us/sample - loss: 15772.9146 - val_loss: 16416.6013
Epoch 47/100
8708/8708 [==============================] - 0s 11us/sample - loss: 15728.9858 - val_loss: 16495.2330
Epoch 48/100
8708/8708 [==============================] - 0s 11us/sample - loss: 15759.9146 - val_loss: 16381.8196
Epoch 49/100
8708/8708 [==============================] - 0s 10us/sample - loss: 15616.5441 - val_loss: 16266.8168
Epoch 50/100
8708/8708 [==============================] - 0s 9us/sample - loss: 15568.9648 - val_loss: 16273.6854
Epoch 51/100
8708/8708 [==============================] - 0s 9us/sample - loss: 15507.8033 - val_loss: 16158.5451
Epoch 52/100
8708/8708 [==============================] - 0s 10us/sample - loss: 15488.9742 - val_loss: 16131.8806
Epoch 53/100
8708/8708 [==============================] - 0s 9us/sample - loss: 15459.7524 - val_loss: 16148.6651
Epoch 54/100
8708/8708 [==============================] - 0s 8us/sample - loss: 15369.5543 - val_loss: 16096.5195
Epoch 55/100
8708/8708 [==============================] - 0s 9us/sample - loss: 15335.1336 - val_loss: 16029.2853
Epoch 56/100
8708/8708 [==============================] - 0s 9us/sample - loss: 15287.6086 - val_loss: 16040.9061
Epoch 57/100
8708/8708 [==============================] - 0s 9us/sample - loss: 15252.8959 - val_loss: 15995.1107
Epoch 58/100
8708/8708 [==============================] - 0s 11us/sample - loss: 15244.0184 - val_loss: 15928.8452
Epoch 59/100
8708/8708 [==============================] - 0s 10us/sample - loss: 15178.4620 - val_loss: 15874.8975
Epoch 60/100
8708/8708 [==============================] - 0s 10us/sample - loss: 15148.8245 - val_loss: 15841.0792
Epoch 61/100
8708/8708 [==============================] - 0s 11us/sample - loss: 15111.1402 - val_loss: 15813.2900
Epoch 62/100
8708/8708 [==============================] - 0s 10us/sample - loss: 15068.6494 - val_loss: 15880.9562
Epoch 63/100
8708/8708 [==============================] - 0s 9us/sample - loss: 15028.4813 - val_loss: 15849.0279
Epoch 64/100
8708/8708 [==============================] - 0s 9us/sample - loss: 15022.2687 - val_loss: 15745.2848
Epoch 65/100
8708/8708 [==============================] - 0s 10us/sample - loss: 14953.9138 - val_loss: 15770.5814
Epoch 66/100

8708/8708 [==============================] - 0s 10us/sample - loss: 14923.1027 - val_loss: 15713.4079
Epoch 67/100
8708/8708 [==============================] - 0s 10us/sample - loss: 14885.9114 - val_loss: 15757.4051
Epoch 68/100
8708/8708 [==============================] - 0s 9us/sample - loss: 14854.5813 - val_loss: 15688.6465
Epoch 69/100
8708/8708 [==============================] - 0s 9us/sample - loss: 14839.1351 - val_loss: 15616.0771
Epoch 70/100
8708/8708 [==============================] - 0s 9us/sample - loss: 14952.6601 - val_loss: 15625.8377
Epoch 71/100
8708/8708 [==============================] - 0s 8us/sample - loss: 14798.7466 - val_loss: 15561.3038
Epoch 72/100
8708/8708 [==============================] - 0s 8us/sample - loss: 14760.7583 - val_loss: 15602.9567
Epoch 73/100
8708/8708 [==============================] - 0s 8us/sample - loss: 14733.8936 - val_loss: 15542.6035
Epoch 74/100
8708/8708 [==============================] - 0s 9us/sample - loss: 14738.8624 - val_loss: 15562.5011
Epoch 75/100
8708/8708 [==============================] - 0s 9us/sample - loss: 14684.0662 - val_loss: 15550.9864
Epoch 76/100
8708/8708 [==============================] - 0s 10us/sample - loss: 14703.4059 - val_loss: 15518.8462
Epoch 77/100
8708/8708 [==============================] - 0s 9us/sample - loss: 14623.6679 - val_loss: 15479.1463
Epoch 78/100
8708/8708 [==============================] - 0s 9us/sample - loss: 14594.9899 - val_loss: 15468.4619
Epoch 79/100
8708/8708 [==============================] - 0s 8us/sample - loss: 14603.0459 - val_loss: 15570.0756
Epoch 80/100
8708/8708 [==============================] - 0s 8us/sample - loss: 14618.6091 - val_loss: 15530.4472
Epoch 81/100
8708/8708 [==============================] - 0s 8us/sample - loss: 14567.0335 - val_loss: 15468.3506
Epoch 82/100
8708/8708 [==============================] - 0s 8us/sample - loss: 14544.3969 - val_loss: 15484.0574
Epoch 83/100
8708/8708 [==============================] - 0s 9us/sample - loss: 14523.2504 - val_loss: 15383.9735
Epoch 84/100
8708/8708 [==============================] - 0s 10us/sample - loss: 14529.5418 - val_loss: 15394.8888
Epoch 85/100
8708/8708 [==============================] - 0s 12us/sample - loss: 14511.2777 - val_loss: 15544.8531
Epoch 86/100
8708/8708 [==============================] - 0s 12us/sample - loss: 14473.1321 - val_loss: 15432.0375
Epoch 87/100
8708/8708 [==============================] - 0s 10us/sample - loss: 14478.7787 - val_loss: 15403.0399
Epoch 88/100
8708/8708 [==============================] - 0s 9us/sample - loss: 14450.2205 - val_loss: 15354.5926
Epoch 89/100
8708/8708 [==============================] - 0s 8us/sample - loss: 14472.5904 - val_loss: 15361.9826
Epoch 90/100
8708/8708 [==============================] - 0s 9us/sample - loss: 14435.8745 - val_loss: 15314.4470
Epoch 91/100
8708/8708 [==============================] - 0s 8us/sample - loss: 14392.7598 - val_loss: 15554.5926
Epoch 92/100
8708/8708 [==============================] - 0s 8us/sample - loss: 14439.5664 - val_loss: 15312.4859
Epoch 93/100
8708/8708 [==============================] - 0s 9us/sample - loss: 14387.0309 - val_loss: 15282.8388
Epoch 94/100
8708/8708 [==============================] - 0s 9us/sample - loss: 14416.0754 - val_loss: 15293.3633
Epoch 95/100
8708/8708 [==============================] - 0s 9us/sample - loss: 14369.3986 - val_loss: 15314.0141
Epoch 96/100
8708/8708 [==============================] - 0s 9us/sample - loss: 14350.6274 - val_loss: 15375.9390
Epoch 97/100
8708/8708 [==============================] - 0s 9us/sample - loss: 14354.9227 - val_loss: 15235.2872
Epoch 98/100
8708/8708 [==============================] - 0s 10us/sample - loss: 14313.8359 - val_loss: 15239.3863
Epoch 99/100
8708/8708 [==============================] - 0s 10us/sample - loss: 14325.6354 - val_loss: 15285.6407
Epoch 100/100
8708/8708 [==============================] - 0s 10us/sample - loss: 14311.1739 - val_loss: 15248.4091

loss ~ 14538   better, not much, abondone scale

complex models

In [29]:
model_cplx = build_mode([128, 64], 17) # 1 hidden layer

model_cplx.compile(optimizer=tf.keras.optimizers.Adam(lr=0.008), loss='mse')
model_cplx.summary()
history = model_cplx.fit(x_training, y_training, epochs=100, batch_size=128, validation_data=(x_validation, y_validation))

Model: "sequential_4"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_8 (Dense)              (None, 128)               2304
_________________________________________________________________
dense_9 (Dense)              (None, 64)                8256
_________________________________________________________________
dense_10 (Dense)             (None, 1)                 65
=================================================================
Total params: 10,625
Trainable params: 10,625
Non-trainable params: 0
_________________________________________________________________
Train on 8708 samples, validate on 2178 samples
Epoch 1/100
8708/8708 [==============================] - 0s 28us/sample - loss: 26919.3496 - val_loss: 21357.2058
Epoch 2/100
8708/8708 [==============================] - 0s 10us/sample - loss: 19712.4195 - val_loss: 18973.6633
Epoch 3/100
8708/8708 [==============================] - 0s 11us/sample - loss: 18291.0849 - val_loss: 21268.1872
Epoch 4/100
8708/8708 [==============================] - 0s 10us/sample - loss: 17206.1046 - val_loss: 16705.7127
Epoch 5/100
8708/8708 [==============================] - 0s 11us/sample - loss: 16452.0470 - val_loss: 15960.2883
Epoch 6/100
8708/8708 [==============================] - 0s 11us/sample - loss: 15465.4756 - val_loss: 15355.3382
Epoch 7/100
8708/8708 [==============================] - 0s 11us/sample - loss: 15208.0895 - val_loss: 19043.7791
Epoch 8/100
8708/8708 [==============================] - 0s 11us/sample - loss: 15533.3874 - val_loss: 16580.2904
Epoch 9/100
8708/8708 [==============================] - 0s 12us/sample - loss: 14507.2590 - val_loss: 14941.5871
Epoch 10/100
8708/8708 [==============================] - 0s 11us/sample - loss: 14193.0127 - val_loss: 15413.2643
Epoch 11/100
8708/8708 [==============================] - 0s 11us/sample - loss: 13923.9988 - val_loss: 13899.7671
Epoch 12/100
8708/8708 [==============================] - 0s 11us/sample - loss: 13770.1194 - val_loss: 15167.0095
Epoch 13/100
8708/8708 [==============================] - 0s 10us/sample - loss: 13315.1343 - val_loss: 13361.8418
Epoch 14/100
8708/8708 [==============================] - 0s 10us/sample - loss: 13268.4453 - val_loss: 13161.0957
Epoch 15/100
8708/8708 [==============================] - 0s 10us/sample - loss: 13147.9568 - val_loss: 14359.8490
Epoch 16/100
8708/8708 [==============================] - 0s 14us/sample - loss: 12840.1798 - val_loss: 13087.4081
Epoch 17/100
8708/8708 [==============================] - 0s 12us/sample - loss: 12543.5342 - val_loss: 16813.0968
Epoch 18/100
8708/8708 [==============================] - 0s 11us/sample - loss: 13476.7075 - val_loss: 12833.8049
Epoch 19/100
8708/8708 [==============================] - 0s 12us/sample - loss: 12475.1394 - val_loss: 15920.0978
Epoch 20/100
8708/8708 [==============================] - 0s 11us/sample - loss: 12443.6426 - val_loss: 16734.3629
Epoch 21/100
8708/8708 [==============================] - 0s 13us/sample - loss: 12425.0823 - val_loss: 13075.2674
Epoch 22/100
8708/8708 [==============================] - 0s 12us/sample - loss: 12280.4948 - val_loss: 13856.1385
Epoch 23/100
8708/8708 [==============================] - 0s 12us/sample - loss: 12346.1433 - val_loss: 12907.9681
Epoch 24/100
8708/8708 [==============================] - 0s 12us/sample - loss: 11779.5086 - val_loss: 11702.1628
Epoch 25/100
8708/8708 [==============================] - 0s 11us/sample - loss: 10930.3799 - val_loss: 13623.7504
Epoch 26/100
8708/8708 [==============================] - 0s 11us/sample - loss: 11634.4975 - val_loss: 12545.4943
Epoch 27/100
8708/8708 [==============================] - 0s 12us/sample - loss: 10736.1430 - val_loss: 10791.2281
Epoch 28/100
8708/8708 [==============================] - 0s 11us/sample - loss: 10469.0449 - val_loss: 11061.0775
Epoch 29/100
8708/8708 [==============================] - 0s 12us/sample - loss: 11221.1005 - val_loss: 10449.0985
Epoch 30/100
8708/8708 [==============================] - 0s 10us/sample - loss: 10118.1245 - val_loss: 10668.2982
Epoch 31/100
8708/8708 [==============================] - 0s 12us/sample - loss: 9795.0287 - val_loss: 11299.0334
Epoch 32/100
8708/8708 [==============================] - 0s 12us/sample - loss: 10196.6050 - val_loss: 11801.8509
Epoch 33/100
8708/8708 [==============================] - 0s 12us/sample - loss: 9524.6393 - val_loss: 11081.7052
Epoch 34/100
8708/8708 [==============================] - 0s 12us/sample - loss: 9617.1589 - val_loss: 10864.4363
Epoch 35/100
8708/8708 [==============================] - 0s 14us/sample - loss: 9644.9023 - val_loss: 11901.6150
Epoch 36/100
8708/8708 [==============================] - 0s 12us/sample - loss: 10206.7194 - val_loss: 10871.3094
Epoch 37/100
8708/8708 [==============================] - 0s 11us/sample - loss: 9357.4618 - val_loss: 9609.6200
Epoch 38/100
8708/8708 [==============================] - 0s 11us/sample - loss: 9167.2845 - val_loss: 10903.3010
Epoch 39/100
8708/8708 [==============================] - 0s 12us/sample - loss: 8976.8128 - val_loss: 10447.2448
Epoch 40/100
8708/8708 [==============================] - 0s 11us/sample - loss: 9624.3571 - val_loss: 10518.5452
Epoch 41/100
8708/8708 [==============================] - 0s 11us/sample - loss: 9348.0384 - val_loss: 11263.5783
Epoch 42/100
8708/8708 [==============================] - 0s 15us/sample - loss: 9151.8348 - val_loss: 9575.3676
Epoch 43/100
8708/8708 [==============================] - 0s 15us/sample - loss: 9143.7850 - val_loss: 9682.0242
Epoch 44/100
8708/8708 [==============================] - 0s 11us/sample - loss: 8353.9671 - val_loss: 9228.8652
Epoch 45/100
8708/8708 [==============================] - 0s 11us/sample - loss: 8492.9711 - val_loss: 9710.7704
Epoch 46/100
8708/8708 [==============================] - 0s 11us/sample - loss: 10102.4370 - val_loss: 11009.3199
Epoch 47/100
8708/8708 [==============================] - 0s 12us/sample - loss: 9757.2505 - val_loss: 9162.2775
Epoch 48/100
8708/8708 [==============================] - 0s 14us/sample - loss: 8560.6418 - val_loss: 8988.7254
Epoch 49/100
8708/8708 [==============================] - 0s 11us/sample - loss: 8245.2140 - val_loss: 8359.4677
Epoch 50/100
8708/8708 [==============================] - 0s 9us/sample - loss: 7941.3279 - val_loss: 8592.8778
Epoch 51/100
8708/8708 [==============================] - 0s 10us/sample - loss: 8057.1609 - val_loss: 9442.3559
Epoch 52/100
8708/8708 [==============================] - 0s 9us/sample - loss: 8462.6815 - val_loss: 11020.4156
Epoch 53/100
8708/8708 [==============================] - 0s 11us/sample - loss: 9055.5162 - val_loss: 8711.6156
Epoch 54/100
8708/8708 [==============================] - 0s 12us/sample - loss: 8044.3979 - val_loss: 8090.9770
Epoch 55/100
8708/8708 [==============================] - 0s 11us/sample - loss: 8011.6078 - val_loss: 11593.4614
Epoch 56/100
8708/8708 [==============================] - 0s 11us/sample - loss: 8440.5303 - val_loss: 8455.9501
Epoch 57/100
8708/8708 [==============================] - 0s 11us/sample - loss: 7850.4183 - val_loss: 9258.5853
Epoch 58/100
8708/8708 [==============================] - 0s 13us/sample - loss: 7556.3160 - val_loss: 7584.4994
Epoch 59/100
8708/8708 [==============================] - 0s 11us/sample - loss: 7512.3574 - val_loss: 7701.7052
Epoch 60/100
8708/8708 [==============================] - 0s 10us/sample - loss: 8242.5114 - val_loss: 10047.0533
Epoch 61/100
8708/8708 [==============================] - 0s 9us/sample - loss: 7407.3588 - val_loss: 7643.5625
Epoch 62/100
8708/8708 [==============================] - 0s 9us/sample - loss: 8142.2734 - val_loss: 9665.6923
Epoch 63/100
8708/8708 [==============================] - 0s 10us/sample - loss: 7679.6257 - val_loss: 8525.2812
Epoch 64/100
8708/8708 [==============================] - 0s 10us/sample - loss: 7517.5439 - val_loss: 8592.3047
Epoch 65/100
8708/8708 [==============================] - 0s 10us/sample - loss: 7351.6141 - val_loss: 9092.0548

Epoch 66/100
8708/8708 [==============================] - 0s 10us/sample - loss: 7810.5621 - val_loss: 7236.2408
Epoch 67/100
8708/8708 [==============================] - 0s 9us/sample - loss: 7314.5107 - val_loss: 8746.6379
Epoch 68/100
8708/8708 [==============================] - 0s 10us/sample - loss: 7107.5930 - val_loss: 12327.0557
Epoch 69/100
8708/8708 [==============================] - 0s 10us/sample - loss: 7335.0336 - val_loss: 7185.9397
Epoch 70/100
8708/8708 [==============================] - 0s 11us/sample - loss: 6799.4566 - val_loss: 8275.4514
Epoch 71/100
8708/8708 [==============================] - 0s 11us/sample - loss: 7247.0496 - val_loss: 9602.8890
Epoch 72/100
8708/8708 [==============================] - 0s 11us/sample - loss: 7687.2127 - val_loss: 17860.0850
Epoch 73/100
8708/8708 [==============================] - 0s 11us/sample - loss: 8494.3264 - val_loss: 7219.7790
Epoch 74/100
8708/8708 [==============================] - 0s 10us/sample - loss: 6732.0348 - val_loss: 7394.8955
Epoch 75/100
8708/8708 [==============================] - 0s 10us/sample - loss: 6754.0319 - val_loss: 9459.8906
Epoch 76/100
8708/8708 [==============================] - 0s 10us/sample - loss: 6840.5543 - val_loss: 7151.0775
Epoch 77/100
8708/8708 [==============================] - 0s 11us/sample - loss: 6607.5856 - val_loss: 9909.7906
Epoch 78/100
8708/8708 [==============================] - 0s 12us/sample - loss: 8962.5664 - val_loss: 10046.5371
Epoch 79/100
8708/8708 [==============================] - 0s 12us/sample - loss: 6902.3266 - val_loss: 8523.0824
Epoch 80/100
8708/8708 [==============================] - 0s 12us/sample - loss: 7785.3909 - val_loss: 6988.3820
Epoch 81/100
8708/8708 [==============================] - 0s 9us/sample - loss: 6505.3917 - val_loss: 7924.6320
Epoch 82/100
8708/8708 [==============================] - 0s 9us/sample - loss: 6664.5467 - val_loss: 7149.6262
Epoch 83/100
8708/8708 [==============================] - 0s 9us/sample - loss: 6569.1080 - val_loss: 7807.3332
Epoch 84/100
8708/8708 [==============================] - 0s 11us/sample - loss: 6522.0867 - val_loss: 7307.6196
Epoch 85/100
8708/8708 [==============================] - 0s 13us/sample - loss: 7536.4825 - val_loss: 6785.6458
Epoch 86/100
8708/8708 [==============================] - 0s 12us/sample - loss: 6336.0862 - val_loss: 7951.2601
Epoch 87/100
8708/8708 [==============================] - 0s 11us/sample - loss: 7444.6201 - val_loss: 6226.2997
Epoch 88/100
8708/8708 [==============================] - 0s 10us/sample - loss: 6443.7066 - val_loss: 10360.7016
Epoch 89/100
8708/8708 [==============================] - 0s 10us/sample - loss: 6819.2702 - val_loss: 7463.1311
Epoch 90/100
8708/8708 [==============================] - 0s 10us/sample - loss: 7916.5721 - val_loss: 6501.4354
Epoch 91/100
8708/8708 [==============================] - 0s 11us/sample - loss: 6374.5842 - val_loss: 8562.1840
Epoch 92/100
8708/8708 [==============================] - 0s 8us/sample - loss: 8328.7967 - val_loss: 7001.1594
Epoch 93/100
8708/8708 [==============================] - 0s 10us/sample - loss: 6447.0582 - val_loss: 6511.6783
Epoch 94/100
8708/8708 [==============================] - 0s 10us/sample - loss: 6601.3834 - val_loss: 7058.5785
Epoch 95/100
8708/8708 [==============================] - 0s 10us/sample - loss: 6418.9161 - val_loss: 6774.2864
Epoch 96/100
8708/8708 [==============================] - 0s 9us/sample - loss: 6561.0860 - val_loss: 10273.9751
Epoch 97/100
8708/8708 [==============================] - 0s 10us/sample - loss: 7363.6772 - val_loss: 6914.3795
Epoch 98/100
8708/8708 [==============================] - 0s 9us/sample - loss: 6052.5511 - val_loss: 6687.5297
Epoch 99/100
8708/8708 [==============================] - 0s 9us/sample - loss: 6600.7947 - val_loss: 7558.5630
Epoch 100/100
8708/8708 [==============================] - 0s 9us/sample - loss: 6243.0956 - val_loss: 6410.5372

loss ~ 6243  add callback for early stop and increase epoch

In [31]:
early_stop = EarlyStopping(monitor='val_loss', min_delta=1, patience=10, verbose=1, mode='min')
model_cplx_cb = build_mode([128, 64], 17) # 1 hidden layer

model_cplx_cb.compile(optimizer=tf.keras.optimizers.Adam(lr=0.008), loss='mse')
model_cplx_cb.summary()
history = model_cplx_cb.fit(x_training, y_training, epochs=200, batch_size=128, validation_data=(x_validation, y_validation), callbacks=[early_stop])

Model: "sequential_6"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_14 (Dense)             (None, 128)               2304
_________________________________________________________________
dense_15 (Dense)             (None, 64)                8256
_________________________________________________________________
dense_16 (Dense)             (None, 1)                 65
=================================================================
Total params: 10,625
Trainable params: 10,625
Non-trainable params: 0
_________________________________________________________________
Train on 8708 samples, validate on 2178 samples
Epoch 1/200
8708/8708 [==============================] - 0s 27us/sample - loss: 27343.1242 - val_loss: 22080.6950
Epoch 2/200
8708/8708 [==============================] - 0s 13us/sample - loss: 20595.8019 - val_loss: 21249.8600
Epoch 3/200
8708/8708 [==============================] - 0s 11us/sample - loss: 18907.4518 - val_loss: 18432.7775
Epoch 4/200
8708/8708 [==============================] - 0s 10us/sample - loss: 17762.9333 - val_loss: 16932.1882
Epoch 5/200
8708/8708 [==============================] - 0s 11us/sample - loss: 16529.3961 - val_loss: 17101.0452
Epoch 6/200
8708/8708 [==============================] - 0s 11us/sample - loss: 16060.2863 - val_loss: 15399.6402
Epoch 7/200
8708/8708 [==============================] - 0s 11us/sample - loss: 15481.8816 - val_loss: 15035.7399
Epoch 8/200
8708/8708 [==============================] - 0s 11us/sample - loss: 14827.1550 - val_loss: 14684.4827
Epoch 9/200
8708/8708 [==============================] - 0s 11us/sample - loss: 14556.6113 - val_loss: 16360.9723
Epoch 10/200
8708/8708 [==============================] - 0s 11us/sample - loss: 16148.5175 - val_loss: 14720.5619
Epoch 11/200
8708/8708 [==============================] - 0s 10us/sample - loss: 14399.8172 - val_loss: 13963.5027
Epoch 12/200
8708/8708 [==============================] - 0s 11us/sample - loss: 13820.7747 - val_loss: 13524.5592
Epoch 13/200
8708/8708 [==============================] - 0s 13us/sample - loss: 13415.8520 - val_loss: 15988.9728
Epoch 14/200
8708/8708 [==============================] - 0s 13us/sample - loss: 14014.5218 - val_loss: 14213.0961
Epoch 15/200
8708/8708 [==============================] - 0s 11us/sample - loss: 13482.2355 - val_loss: 13338.4769
Epoch 16/200
8708/8708 [==============================] - 0s 10us/sample - loss: 12984.8557 - val_loss: 14261.0646
Epoch 17/200
8708/8708 [==============================] - 0s 9us/sample - loss: 13565.5685 - val_loss: 14672.4784
Epoch 18/200
8708/8708 [==============================] - 0s 7us/sample - loss: 12857.6292 - val_loss: 12746.7223
Epoch 19/200
8708/8708 [==============================] - 0s 7us/sample - loss: 12268.3418 - val_loss: 12454.7200
Epoch 20/200
8708/8708 [==============================] - 0s 11us/sample - loss: 12271.1867 - val_loss: 14280.6482
Epoch 21/200
8708/8708 [==============================] - 0s 11us/sample - loss: 11837.6488 - val_loss: 12299.0318
Epoch 22/200
8708/8708 [==============================] - 0s 11us/sample - loss: 11796.2477 - val_loss: 12158.8641
Epoch 23/200
8708/8708 [==============================] - 0s 13us/sample - loss: 11615.6261 - val_loss: 11746.5620
Epoch 24/200
8708/8708 [==============================] - 0s 12us/sample - loss: 11315.1034 - val_loss: 14498.4723
Epoch 25/200
8708/8708 [==============================] - 0s 11us/sample - loss: 11278.1841 - val_loss: 11459.2019
Epoch 26/200
8708/8708 [==============================] - 0s 12us/sample - loss: 11670.0955 - val_loss: 11802.1282
Epoch 27/200
8708/8708 [==============================] - 0s 13us/sample - loss: 10642.0429 - val_loss: 10900.0870
Epoch 28/200
8708/8708 [==============================] - 0s 11us/sample - loss: 10388.7910 - val_loss: 13574.9142
Epoch 29/200
8708/8708 [==============================] - 0s 11us/sample - loss: 10496.6544 - val_loss: 11296.9174
Epoch 30/200
8708/8708 [==============================] - 0s 11us/sample - loss: 10763.7819 - val_loss: 11328.0843
Epoch 31/200
8708/8708 [==============================] - 0s 12us/sample - loss: 10234.3176 - val_loss: 12585.5711
Epoch 32/200
8708/8708 [==============================] - 0s 11us/sample - loss: 10556.1992 - val_loss: 10387.9320
Epoch 33/200
8708/8708 [==============================] - 0s 11us/sample - loss: 9987.3117 - val_loss: 11701.2901
Epoch 34/200
8708/8708 [==============================] - 0s 12us/sample - loss: 10221.5096 - val_loss: 11370.7764
Epoch 35/200
8708/8708 [==============================] - 0s 13us/sample - loss: 9552.9460 - val_loss: 11955.7582
Epoch 36/200
8708/8708 [==============================] - 0s 11us/sample - loss: 9496.7086 - val_loss: 10196.6427
Epoch 37/200
8708/8708 [==============================] - 0s 11us/sample - loss: 9076.7696 - val_loss: 9469.2637
Epoch 38/200
8708/8708 [==============================] - 0s 11us/sample - loss: 9020.0907 - val_loss: 13158.5046
Epoch 39/200
8708/8708 [==============================] - 0s 11us/sample - loss: 8918.4445 - val_loss: 9685.1966
Epoch 40/200
8708/8708 [==============================] - 0s 11us/sample - loss: 9110.7971 - val_loss: 10570.9510
Epoch 41/200
8708/8708 [==============================] - 0s 10us/sample - loss: 10100.4948 - val_loss: 9857.4378
Epoch 42/200
8708/8708 [==============================] - 0s 11us/sample - loss: 8750.3798 - val_loss: 11208.7274
Epoch 43/200
8708/8708 [==============================] - 0s 12us/sample - loss: 8909.2927 - val_loss: 10554.6074
Epoch 44/200
8708/8708 [==============================] - 0s 13us/sample - loss: 9495.6376 - val_loss: 9871.9200
Epoch 45/200
8708/8708 [==============================] - 0s 15us/sample - loss: 8506.2062 - val_loss: 9610.1252
Epoch 46/200
8708/8708 [==============================] - 0s 11us/sample - loss: 9105.3375 - val_loss: 9526.2842
Epoch 47/200
8708/8708 [==============================] - 0s 11us/sample - loss: 8750.4539 - val_loss: 9039.0118
Epoch 48/200
8708/8708 [==============================] - 0s 12us/sample - loss: 8351.4908 - val_loss: 13547.6236
Epoch 49/200
8708/8708 [==============================] - 0s 12us/sample - loss: 9092.4168 - val_loss: 8876.0680
Epoch 50/200
8708/8708 [==============================] - 0s 11us/sample - loss: 8589.2614 - val_loss: 8973.6533
Epoch 51/200
8708/8708 [==============================] - 0s 11us/sample - loss: 8270.9793 - val_loss: 8360.4869
Epoch 52/200
8708/8708 [==============================] - 0s 10us/sample - loss: 8075.5467 - val_loss: 8156.7053
Epoch 53/200
8708/8708 [==============================] - 0s 11us/sample - loss: 7760.3996 - val_loss: 8113.5555
Epoch 54/200
8708/8708 [==============================] - 0s 10us/sample - loss: 7652.4498 - val_loss: 8901.6449
Epoch 55/200
8708/8708 [==============================] - 0s 10us/sample - loss: 8276.6166 - val_loss: 10417.1012
Epoch 56/200
8708/8708 [==============================] - 0s 11us/sample - loss: 7988.6922 - val_loss: 15449.4414
Epoch 57/200
8708/8708 [==============================] - 0s 10us/sample - loss: 9444.3106 - val_loss: 8107.2843
Epoch 58/200
8708/8708 [==============================] - 0s 10us/sample - loss: 7691.7133 - val_loss: 8544.8709
Epoch 59/200
8708/8708 [==============================] - 0s 10us/sample - loss: 7976.5703 - val_loss: 8253.7794
Epoch 60/200
8708/8708 [==============================] - 0s 10us/sample - loss: 7676.2621 - val_loss: 8514.5086
Epoch 61/200
8708/8708 [==============================] - 0s 11us/sample - loss: 7866.0068 - val_loss: 9295.6057
Epoch 62/200
8708/8708 [==============================] - 0s 9us/sample - loss: 7526.0837 - val_loss: 8624.4996
Epoch 63/200
8708/8708 [==============================] - 0s 10us/sample - loss: 7499.2191 - val_loss: 7402.0533
Epoch 64/200
8708/8708 [==============================] - 0s 11us/sample - loss: 7567.9168 - val_loss: 7465.0076
Epoch 65/200
8708/8708 [==============================] - 0s 10us/sample - loss: 6872.7894 - val_loss: 7802.4168

Epoch 66/200
8708/8708 [==============================] - 0s 11us/sample - loss: 8122.5048 - val_loss: 8766.6286
Epoch 67/200
8708/8708 [==============================] - 0s 13us/sample - loss: 7247.1707 - val_loss: 7590.7244
Epoch 68/200
8708/8708 [==============================] - 0s 13us/sample - loss: 7130.3325 - val_loss: 9449.4030
Epoch 69/200
8708/8708 [==============================] - 0s 13us/sample - loss: 8017.3597 - val_loss: 7693.6483
Epoch 70/200
8708/8708 [==============================] - 0s 12us/sample - loss: 7049.1710 - val_loss: 8852.8772
Epoch 71/200
8708/8708 [==============================] - 0s 12us/sample - loss: 7051.0328 - val_loss: 7790.0979
Epoch 72/200
8708/8708 [==============================] - 0s 12us/sample - loss: 7763.1047 - val_loss: 8087.1003
Epoch 73/200
8708/8708 [==============================] - 0s 12us/sample - loss: 6601.0831 - val_loss: 7066.7502
Epoch 74/200
8708/8708 [==============================] - 0s 10us/sample - loss: 6580.9384 - val_loss: 7258.9088
Epoch 75/200
8708/8708 [==============================] - 0s 10us/sample - loss: 6922.3673 - val_loss: 8151.9971
Epoch 76/200
8708/8708 [==============================] - 0s 10us/sample - loss: 8698.2378 - val_loss: 8050.4854
Epoch 77/200
8708/8708 [==============================] - 0s 9us/sample - loss: 7635.0115 - val_loss: 7133.8388
Epoch 78/200
8708/8708 [==============================] - 0s 9us/sample - loss: 6454.1285 - val_loss: 7278.2716
Epoch 79/200
8708/8708 [==============================] - 0s 10us/sample - loss: 6571.8090 - val_loss: 16644.3127
Epoch 80/200
8708/8708 [==============================] - 0s 11us/sample - loss: 8100.1990 - val_loss: 6838.1684
Epoch 81/200
8708/8708 [==============================] - 0s 10us/sample - loss: 6724.7751 - val_loss: 7046.2116
Epoch 82/200
8708/8708 [==============================] - 0s 11us/sample - loss: 6591.6059 - val_loss: 9255.5633
Epoch 83/200
8708/8708 [==============================] - 0s 11us/sample - loss: 6684.8991 - val_loss: 7364.1092
Epoch 84/200
8708/8708 [==============================] - 0s 11us/sample - loss: 6379.0586 - val_loss: 6804.0331
Epoch 85/200
8708/8708 [==============================] - 0s 11us/sample - loss: 6394.0627 - val_loss: 10168.2333
Epoch 86/200
8708/8708 [==============================] - 0s 9us/sample - loss: 6983.7594 - val_loss: 9025.0267
Epoch 87/200
8708/8708 [==============================] - 0s 9us/sample - loss: 6892.1748 - val_loss: 7993.8953
Epoch 88/200
8708/8708 [==============================] - 0s 10us/sample - loss: 6488.5207 - val_loss: 7194.7240
Epoch 89/200
8708/8708 [==============================] - 0s 9us/sample - loss: 6453.6362 - val_loss: 7056.7572
Epoch 90/200
8708/8708 [==============================] - 0s 10us/sample - loss: 6579.6369 - val_loss: 7832.8568
Epoch 91/200
8708/8708 [==============================] - 0s 10us/sample - loss: 7349.2884 - val_loss: 6494.3944
Epoch 92/200
8708/8708 [==============================] - 0s 10us/sample - loss: 6331.7140 - val_loss: 7262.9945
Epoch 93/200
8708/8708 [==============================] - 0s 9us/sample - loss: 6308.1111 - val_loss: 6122.6341
Epoch 94/200
8708/8708 [==============================] - 0s 9us/sample - loss: 5916.4640 - val_loss: 6953.8562
Epoch 95/200
8708/8708 [==============================] - 0s 9us/sample - loss: 5979.6485 - val_loss: 7338.6036
Epoch 96/200
8708/8708 [==============================] - 0s 9us/sample - loss: 6693.0481 - val_loss: 6435.5746
Epoch 97/200
8708/8708 [==============================] - 0s 10us/sample - loss: 6034.2459 - val_loss: 22126.2594
Epoch 98/200
8708/8708 [==============================] - 0s 9us/sample - loss: 9702.9441 - val_loss: 7535.2900
Epoch 99/200
8708/8708 [==============================] - 0s 11us/sample - loss: 6688.9730 - val_loss: 7505.3227
Epoch 100/200
8708/8708 [==============================] - 0s 10us/sample - loss: 6560.1697 - val_loss: 8496.8471
Epoch 101/200
8708/8708 [==============================] - 0s 9us/sample - loss: 6276.5473 - val_loss: 12276.6848
Epoch 102/200
8708/8708 [==============================] - 0s 9us/sample - loss: 7686.8782 - val_loss: 6431.9540
Epoch 103/200
8708/8708 [==============================] - 0s 11us/sample - loss: 5868.1221 - val_loss: 10440.3914
Epoch 00103: early stopping

loss ~ 5868

let's save the model

In [ ]:
check_point = ModelCheckpoint('/tmp/kaggle-bike/models/model.hdf5', monitor='val_loss', verbose=1, save_best_only=True, mode='min')
early_stop = EarlyStopping(monitor='val_loss', min_delta=1, patience=10, verbose=1, mode='min')
model_cplx_cb_sv = build_mode([128, 64], 17) # 1 hidden layer

model_cplx_cb_sv.compile(optimizer=tf.keras.optimizers.Adam(lr=0.008), loss='mse')
model_cplx_cb_sv.summary()
history = model_cplx_cb_sv.fit(x_scale_temp, y_training, epochs=100, batch_size=128, validation_data=(x_val_temp, y_validation), callbacks=[early_stop, check_point])

In [32]:
x_training

,holiday,workingday,weather,temp,humidity,windspeed,hour,weekday,month,0,1,2,3,0,1,2,3
8793,0,1,2,31.98,55,11.0014,18,2,8,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
5101,0,1,3,20.50,100,12.9980,15,1,12,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
1161,0,0,1,14.76,66,8.9981,1,6,3,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
6141,0,0,2,4.10,46,46.0022,3,6,2,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1639,0,1,1,13.94,76,6.0032,5,3,4,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6542,0,1,1,15.58,32,23.9994,20,4,3,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2625,0,1,1,24.60,83,0.0000,7,4,6,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
6408,0,0,2,12.30,52,19.9995,6,6,3,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2174,0,1,3,22.96,83,27.9993,12,1,5,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
989,0,0,2,19.68,59,19.9995,16,5,3,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

predict test

In [35]:
test_no_datetime = break_datetime(test_data)
test_one_hot = one_hot_transform(test_no_datetime)
test_one_hot = test_one_hot.drop(['atemp', 'season'], axis=1)
test_one_hot

,holiday,workingday,weather,temp,humidity,windspeed,hour,weekday,month,0,1,2,3,0,1,2,3
0,0,1,1,10.66,56,26.0027,0,3,1,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,0,1,1,10.66,56,0.0000,1,3,1,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,0,1,1,10.66,56,0.0000,2,3,1,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,0,1,1,10.66,56,11.0014,3,3,1,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,0,1,1,10.66,56,11.0014,4,3,1,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6488,0,1,2,10.66,60,11.0014,19,0,12,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
6489,0,1,2,10.66,60,11.0014,20,0,12,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
6490,0,1,1,10.66,60,11.0014,21,0,12,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
6491,0,1,1,10.66,56,8.9981,22,0,12,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
6492,0,1,1,10.66,65,8.9981,23,0,12,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [62]:
t = np.reshape(test_data['datetime'].copy().values, (-1, 1))
result = np.concatenate((t, test_count), axis=1)
result

array([['2011-01-20 00:00:00', 9],
       ['2011-01-20 01:00:00', 15],
       ['2011-01-20 02:00:00', 11],
       ...,
       ['2012-12-31 21:00:00', 239],
       ['2012-12-31 22:00:00', 180],
       ['2012-12-31 23:00:00', 164]], dtype=object)

In [63]:
pd.DataFrame(result).to_csv("results/test_results2.csv", header=['datetime', 'count'], index=False)